/* TYPE SELECTOR */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(15, 67, 52);
    text-align: center;
    background-color: rgba(250, 235, 195, 0.527);
}

h1 {
    text-shadow: #a3a2a2 2px 2px 4px;
}

h3 {
    font-variant: small-caps;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

q {
    color: #107566;
    font-style: italic;
}

img {
    max-height: 50%;
    border-radius: 8px;
    border-color: #0e644f;
}

a {
    color: #0e644f;
    text-decoration: none;
}

/* ID SELECTOR */
#git_header {
    background-color: #12512578;
    padding: 10px;
    border-bottom: 2px solid #7f7e7e;
}

/* CLASS SELECTOR */
.first_step {
    font-weight: bold;
    color: #333;
}

/* RELATIONAL SELECTOR */
section#navigation a:hover {
    color: #07352a;
    text-decoration: underline;
    font-size: 125%;
}

/* COMBINATION SELECTOR */
h1, h2, h3 {
    color: #3a8775;
}